old/
**/__pycache__/
.*
venv/
env/
ENV/
.venv/
.Python
jobs.sqlite
test/subprocessTest.py
test/test.conf
test/test.txt
src/bk
# logs
log/*

# Build artifacts
build/
dist/
*.egg-info/

# test
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.pyre/

test/Book1(自動回復済み).xlsx
test/test_plan_filtering.csv
test/test_plan_bulk_operations.csv
